* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
}

.navbar-links-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 2rem;
}

.nav-link a {
    text-decoration: none;
    color: #000;
}

.search-movies-container {
    position: relative;
}

.search-movies-container .search-movies {
    padding: 2px 8px;
    border-radius: 8px;
    border: none;
    background-color: #D9D9D9;
}

.search-icon {
    position: absolute;
    left: 154px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

.user-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-icon-container {
    position: relative;
    cursor: pointer;
  }
  
  .user-dropdown-custom {
    position: absolute;
    top: 45px;
    right: 0;
    width: 200px;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
    z-index: 999;
  }
  
  .dropdown-arrow {
    position: absolute;
    top: -10px;
    right: 20px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #6d66ff; /* mismo color que header */
  }
  
  .user-dropdown-header {
    background-color: #6d66ff;
    color: #fff;
    padding: 10px;
    font-weight: bold;
    text-align: center;
  }
  
  .dropdown-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    color: #333;
    text-decoration: none;
    font-size: 0.95rem;
    border-top: 1px solid #f0f0f0;
    background-color: #fff;
    transition: background-color 0.2s ease;
  }
  
  .dropdown-item:hover {
    background-color: #f9f9f9;
  }
  
  .dropdown-item.logout {
    background-color: #fff;
    border: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
  }
  