.input{
    background-color: #C9C9FC;
    padding: 10px 10px;
    border-radius: 5px;
    outline: none;
    width: 100%;
    border: none;
}

.input::placeholder{
    color: #6363F2;
    font-family: Poppins, sans-serif;
}